[submodule "vendor/Singleton"]
	path = vendor/Singleton
	url = https://github.com/onthegrid007/Singleton
[submodule "vendor/Timestamp"]
	path = vendor/Timestamp
	url = https://github.com/onthegrid007/Timestamp
[submodule "vendor/ThreadPool"]
	path = vendor/ThreadPool
	url = https://github.com/onthegrid007/ThreadPool
